@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
}

@font-face {
  font-family: AeonikPro-Medium;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/AeonikPro-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Semi dragon";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/SemiDragon.otf") format("opentype");
}
