@use "./variables" as *;

.works {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: $bg-color;
    color: $text-color;
    padding-inline: $container-padding-inline;
}
